img {
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background: linear-gradient(#2d388a, #00aeef);
    height: 100%;
    width: 100%;
    opacity: 0.7;
}

h3, h1 {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

form {
    width: 60%;
    background: rgba(255, 255, 255, 0.15);
   
    /* grid-template-rows: repeat(auto, auto); */
    padding: 40px;
    margin: auto;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    
}

input {
    height: 30px;
    font-size: 18px;
    width: 100%;
}

label {
    color: white
}

#answer {
    height: 40px;
    width: 100%;
    font-size: 20px;
    background: white;
    padding: 10px;
}

button {
    height: 40px;
    background: #2d388a;
    color: white;
    border: none;
    margin: auto;
    width: 200px;
    border-radius: 5px;
}

button:hover {
    background: #404ca9;
}

.formElement {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    column-gap: 40px;
    row-gap: 30px;
}

label {
    font-weight: 500;
}

@media only screen and (min-width: 600px) {
    .formElement {
        grid-template-columns: repeat(auto, auto);
        grid-template-rows: repeat(1, auto);
        row-gap: 30px;
    }

    img {
        height: auto;
        width: 100%;
    }
  }